---
import {getCollection} from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Horse from "../../components/horses/Horse.astro"

let horses = await getCollection('horses')
horses = horses.sort((a, b) => (a.data.birth_year < b.data.birth_year) ? 1 : ((b.data.birth_year < a.data.birth_year) ? -1 : 0))
---

<Layout title="Keystatic & Astro's Content Collections">
    <div class="max-w-5xl mx-auto">
        <div class="grid grid-cols-3 gap-8">
          {horses.map(horse => (
                  <Horse horse={horse}/>
          ))}
        </div>
    </div>
</Layout>
