---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Über uns">
  <main class="page-width mx-auto px-4 md:px-0 flex flex-col items-center justify-center h-[50vh] space-y-4">
    <h1>Diese Seite wurde nicht gefunden.</h1>
    <a href="/" class="hover:underline">Zurück zur Startseite</a>
  </main>
</Layout>
