---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Über uns">
    <div class="max-w-5xl mx-auto">
        <h1 class="text-brand text-3xl font-semibold">
            Über uns
        </h1>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, doloremque earum enim harum ipsa
        necessitatibus nostrum odio officia omnis quaerat qui velit. Distinctio dolor ipsum reiciendis repudiandae!
        Illo, possimus.
    </div>
</Layout>
