---
import Layout from "../layouts/Layout.astro";
import {getEntry} from 'astro:content'

const aboutUs = await getEntry('pages', 'about-us')
const {Content} = await aboutUs.render()
---
<Layout title="Über uns">
    <main class="page-width mx-auto px-4 md:px-0">
        <div class="prose-lg">
            <h1>{aboutUs.data.title}</h1>
            <Content/>
        </div>
    </main>
</Layout>
