---
import Layout from "../layouts/Layout.astro";
import {getEntry} from 'astro:content'

const gallery = await getEntry('pages', 'galerie')
---
<Layout title="Gallerie">
  <main class="page-width mx-auto px-4 md:px-0">
    <pre class="text-xs">
    {JSON.stringify(gallery, null, 2)}
    </pre>
    <!--<PhotoSwipe images={images} />-->
  </main>
</Layout>
