---
import Layout from "../layouts/Layout.astro";
import {Image} from "astro:assets";
import {getCollection} from 'astro:content'
import PhotoSwipe from "../components/PhotoSwipe.astro";

const gallery = await getCollection('photos')
let images = []
gallery.forEach(image => {
  images.push(image.data.photo)
})
---
<Layout title="Gallerie">
  <main class="page-width mx-auto px-4 md:px-0">
    <PhotoSwipe images={images} />
  </main>
</Layout>
