---
import Layout from '../layouts/Layout.astro'
import Cover from "../components/Cover.astro"
import News from "../components/News.astro"
import ForSale from "../components/ForSale.astro"
import AboutUs from "../components/AboutUs.astro"
---

<Layout title="Trakehner Gestüt Pichl">
    <div class="flex flex-col items-start space-y-32 relative bg-primary-50">
        <header class="flex flex-col w-full">
            <Cover/>
        </header>
        <News/>
        <ForSale/>
        <AboutUs/>
    </div>
</Layout>
