---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import HorseCard from "../components/horses/HorseCard.astro";

let horses = await getCollection('horses')
horses = horses.sort((a, b) => (a.data.birth_year < b.data.birth_year) ? 1 : ((b.data.birth_year < a.data.birth_year) ? -1 : 0))
const horsesForSale = horses.filter(horse => horse.data.status === 'for-sale')
---

<Layout title="Trakehner Gestüt Pichl">
    <div class="page-width mx-auto px-4 space-y-24">
        <div class="space-y-4 text-2xl">
            <h2>Verkaufspferde</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
              {horsesForSale.map(horse => (
                      <HorseCard horse={horse}/>
              ))}
            </div>
        </div>
    </div>
</Layout>
