---
import {getCollection} from "astro:content"
import HorseCard from "./homepage/for-sale/HorseCard.astro"

let horses = await getCollection('horses')
horses = horses
  .filter(horse => horse.data.status === 'for-sale')
  .sort((a, b) => (a.data.birth_year < b.data.birth_year) ? 1 : ((b.data.birth_year < a.data.birth_year) ? -1 : 0))
---
<div class="max-w-5xl mx-auto">
    <div class="flex flex-col items-center justify-center gap-8">
        <div class="flex flex-col space-y-8">
            <div class="flex flex-col items-center space-y-4">
                <div class="font-normal text-brand text-3xl text-center">
                    Verkauf
                </div>
                <div class="font-bold text-brand text-sm tracking-widest text-center uppercase">
                    Folgende Pferde stehen zum Verkauf
                </div>
                <div class="bg-primary-600 w-20 h-1"></div>
            </div>
            <div class="flex flex-col space-y-16">
              {horses.map(horse => (
                      <HorseCard horse={horse}/>
              ))}
            </div>
        </div>
    </div>
</div>