---
import { getCollection } from "astro:content";
import NewsArticleBig from "./homepage/news/NewsArticleBig.astro";
import NewsArticleSmall from "./homepage/news/NewsArticleSmall.astro";

let articles = await getCollection("articles");
articles = articles.sort((a, b) => (a.data.created_at < b.data.created_at) ? 1 : ((b.data.created_at < a.data.created_at) ? -1 : 0));
---
<div class="page-width mx-auto px-8 md:px-0">
  <div class="flex flex-col items-center justify-center space-y-8">
    <div class="flex flex-col items-center space-y-4">
      <div class="font-normal text-brand text-3xl text-center">
        News
      </div>
      <div class="font-bold text-brand text-sm tracking-widest text-center uppercase">
        Neues aus Pichl
      </div>
      <div class="bg-primary-600 w-20 h-1"></div>
    </div>
    <div class="grid grid-rows-5 md:grid-rows-6 grid-cols-4 gap-4 relative w-full">
      <NewsArticleBig article={articles[0]} />
      {articles.slice(1, 5).map(article => (
        <NewsArticleSmall article={article} />
      ))}
    </div>
    <a href="/news">
      <div class="w-fit px-8 py-4 bg-brand rounded-full font-semibold text-white text-sm">
        MEHR LESEN
      </div>
    </a>
  </div>
</div>
